.card {
    background-color: white;
    border-radius: 1rem;
    min-width: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, .15)
}