@import './variables.scss';

.login-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5em 0;
    gap: 3em;

    .logo {
        width: 16em;
    }

    .login-card,
    .register-card {
        flex-direction: column;
        padding: 2rem;
        min-width: 30rem;
        // align-items: center;
        // justify-content: center;
        gap: 2em;

        h2 {
            font-weight: 400;
            color: $theme;
            font-size: 1.5em;
            margin: 0;
        }
        .login-form,
        .register-form {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            // width: 100%;
            gap: 1em;

            .input {
                width: 20em;
            }
            .button {
                margin-top: 1em;
                width: 10em;
            }
        }

        .register-form {
            .input:nth-of-type(4) {
                margin-top: 1em;
            }
        }

        u {
            color: $theme;
            cursor: pointer;
            align-self: end;
            margin-right: 1em;
            margin-bottom: 0;
        }
    }
}

.home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5em 0;
    gap: 1em;

    .logo {
        width: 8em;
    }

    .home-page-content {
        margin-top: 2em;
        min-width: 45em;
        display: flex;
        flex-direction: column;
        gap: 1.5em;
    }
}