@import './variables.scss';

// robie has na element ktory na 100% bedzie tylko dla konkretnej grupy, bez tego nietkore style sie nadpisuja dla pozostalych widokow
.groups-content:has(.particular-group-top-panel) {
    grid-template-columns: repeat(1, 1fr);

    .particular-group-top-panel {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 2em;
        padding-right:2em;
        color: $theme;
        p {
            max-width: 10em;
            margin: 0;
            font-size: 1.25em;
            font-weight: 600;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .button-container {
            display: flex;
            gap: 0.5em;
            .button {
                font-size: 0.85em;
            }
            
        }
    }
}