$theme: #055866;
$theme-secondary: #2BAAB1;

$material-gray-1: #F5F5F5;
$material-gray-2: #EEEEEE;
$material-gray-3: #E0E0E0;
$material-gray-4: #BDBDBD;
$material-gray-5: #9E9E9E;
$material-gray-6: #757575;
$material-gray-7: #616161;
$material-gray-8: #424242;
$material-gray-9: #212121;